@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
@import '../../../assets/styles/variables.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 3rem;
    background-color: transparent;
    z-index: 1000;
    top: 0;
    height: 9vh;
    
    a{
        text-decoration: none;
        color: $text-color;
        cursor: pointer;
    }

    .menuEsquerda{

        .title{
            font-size: 1.5rem;
            font-family: 'Cinzel Decorative', serif;
            font-weight: 600;
        }

    }

    .menuDireita{
        display: flex;
        flex-direction: row;
        gap: 20px;

        a{

            &:hover{
                color: $hover-color;
                transition: 0.3s
            }
        }
    }



}

.mainScrolled{
    @extend .main;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}