@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
@import "./variables.scss";


.main{

    position: relative;
    background-color: $end-gradiente;
    text-align: center;

    .banner{
        display: flex;
        position: relative;
        background-image: linear-gradient(to bottom, $initial-gradiente, $end-gradiente);
        height: 100vh;
        justify-content: center;
        align-items: center;
        font-family: 'Cinzel Decorative', serif;
        font-size: 4rem;

        span{
            font-family: 'Cinzel Decorative', serif;
            color: rgb(15, 15, 83);
        }
    }

    .arrow {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        animation: bounce 1s infinite;
        z-index: 10;
        color: rgb(0, 0, 0);
    }

    .parallax {
        height: 500px;
        background: $end-gradiente;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sobre{
        display: flex;
        flex-direction: row;
        width: 70vw;
        text-align: justify;
        align-items: center;
        justify-content: center;
        margin: 2rem auto;
        gap: 2rem;

        img{
            box-shadow: 1px 0px 1px 1px rgb(150, 150, 150);
            border-radius: 9px;
        }

        p{
            text-align: justify;
            text-indent: 2rem;
            width: 40vw;
            margin-bottom: 0.5rem;
        }
    }
}

::-webkit-scrollbar{
    display: none;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
.animate-bounce {
    animation: bounce 1s infinite;
}