$initial-gradiente: #39b0fa;
$end-gradiente: #ffffff;
$text-color: #02070B;
$hover-color: #B3C7CE;



/*
    Modal Variables
*/
$overlay-color: rgba(0, 0, 0, 0.5);
$header-background: #055485;
$modal-background: #dddd